body
{
	font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
  border: 0.1875em solid red;
  box-shadow: 0 0.625em 1.25em 0.625em;
	background: url(../images/autumnwallpaper.jpg);
	background-repeat: repeat;
  color: black;
	z-index:-1;
}

.navbar{
  background: #FF8707;
  border-bottom: 0.1875em solid red;
	border-right: 0.1875em solid red;
	border-left: 0.1875em solid red;
	max-width: 64em;
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.navbar-nav a .active{
	color: gold;
}

.navbar-nav{
  width:85%;
  margin-left: 2em;
}

.nav-item {
  width: 40%;
	font-size: 200%;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.link-2 {
  transition: 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 20px 0;
  margin: 0 20px;
}
.link-2:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.link-3 {
  transition: 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 20px 0;
  margin: 0 20px;
}
.link-3:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

#backgroundId{
	background: linear-gradient(to bottom right, #F18E00, orange);
}

#linkedin{
	text-align: center;
}

#indexDescription{
	text-align: center;
	font-size: 150%;
}

#sunshine img{
	position: relative;
	margin: 0 auto;
	width: 100%;
}

#codingImage img{
	height: 15em;
	display: block;
	margin: 0 auto;
	border: 0.5em solid red;
	float: right;
	margin-right: 5%;
}

#skillset{
	margin-left: 5%;
	font-size: 120%;
}


#description p{
	font-family: 'Roboto Slab', serif;
}

p{
	z-index:5;
	position: relative;
}

h2{
	font-size: 200%;
}

#lukeGosnell p{
	font-family: 'Charmonman', cursive;
	font-size: 200%;
}

hr{
	width: 100%;
}

#aboutInfo p{
	font-size: 110%;
	text-align: center;
	font-weight: bold;
}

#contactForm{
	margin: 0 auto;
	display: inline;
	margin-left: 5%;
	color: black;
	font-size: 120%;

}

#contactForm label{
	margin: 0 auto;
	display: block;
	margin-left: 10%;
	color: black;
}

#contactForm input{
	padding-left: 1%;
}

label
{
  float:left;
  width:10em;
  margin-right: 1em;
  text-align: right;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="datetime"],
input[type="color"],
input[type="url"],
select
{
  width:300px;
  margin-bottom: .5em;
  font-size: .75em;
}

input[type="radio"],
input[type="checkbox"]
{
	margin-top: 5px;
	margin-bottom: 5px;
}

input[value="61"]{
	text-align: center;
	margin-left: 40%;
}

input[value="loseWeight"]{
	text-align: center;
	margin-left: 40%;
}

input[type="button"]
{
  width: 7em;
  font-size: 1.25em;
  color:#203731;
	margin-left: 50%;
}

input[type="submit"]
{
  width: 7em;
  font-size: 1.25em;
  color:#203731;
	margin-left: 20%;
}

input[type="reset"]
{
  width: 7em;
  font-size: 1.25em;
  color:#203731;
	margin-left: 3em;
}

span
{
	font-weight: bold;
	color: gold;
	margin-left: 5px;
}


#footer{
  text-align: center;
	background: #FF8707;
	border-top: 0.1875em solid red;
}

#icons{
  font-size: 150%;
  float: right;
  margin-top: .5em;
}

#contactForm{
  margin: 0 auto;
  width: 50%
}

.btn{
	float: right;
}

footer p i{
	text-align: center;
}

#resume img{
	display: block;
	margin: auto auto;
	width: 100%;
}

h2{
	text-align: center;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	font-size: 300%;
}

#samples img{
	height: 40em;
	width: 40em;
	display: block;
	margin: 0 auto;
	border: 0.5em solid red;
}

#samples h2{
	text-align: center;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	font-size: 300%;
}

#samples p{
	text-align: center;
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
}

#sample1 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample1:hover img{
	opacity: .5;
}

#sample2 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample2:hover img{
	opacity: .5;
}

#sample3 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample3:hover img{
	opacity: .5;
}

#sample4 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample4:hover img{
	opacity: .5;
}

#sample5 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample5:hover img{
	opacity: .5;
}

#sample6 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample6:hover img{
	opacity: .5;
}

#sample7 img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#sample7:hover img{
	opacity: .5;
}










@media only screen and (max-width: 990px) {

  p{
    font-size: 100%;
  }

	h2{
		font-size: 180%;
	}

	#skillset{
		font-size: 100%;
	}

	#codingImage{
		margin-left: 20%;
		float: right;
	}


}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 780px) {

	body{
		width: 100%;

	}

	.navbar{
		width: 100%;
	}

	#indexDescription{
		font-size: 120%;
	}

	#codingImage{
		display: block;
		float: center;
		margin: 0 auto;
		width: 150%;
	}

	#skillset{
		padding-top: 10em;
		display: block;
		font-size: 150%;
		margin: 0 auto;
	}

	#samples img{
		width: 35em;
	}

	#footer{
		font-size: 80%;
	}

}

@media only screen and (max-width: 700px) {


}

@media only screen and (max-width: 610px) {
	body{
		width: 100%;

	}

	#indexDescription{
		font-size: 90%;
		font-weight: bold;
	}

	#samples img{
		width: 25em;
		height:30em;
	}

	#contactForm{
		margin-left: 0%;
		padding-left: 0%;
		font-size: 97.5%;
	}

	#contactForm label{
		margin-left: 0%;
		padding-left: 0%;
	}

	input[type="submit"]
	{
	  width: 7em;
	  font-size: 1em;
		margin-left: 20%;
	}

	input[type="reset"]
	{
	  width: 7em;
	  font-size: 1em;
		margin-left: 1em;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="datetime"],
	input[type="color"],
	input[type="url"],
	select
	{
	  width:15em;
	  margin-bottom: .5em;
	  font-size: .75em;
	}

	input[value="61"]{
		text-align: center;
		margin-left: 20%;
	}

	input[value="loseWeight"]{
		text-align: center;
		margin-left: 20%;
	}


}

@media only screen and (max-width: 530px) {

}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {

	/*body{
		width: 100%;
		background-color: blue;
	*/
	body{
		width: 100%;
	}


	#codingImage img{
		display: block;
		margin-right: 8%;
		width: 15em;
	}

	#samples img{
		width: 20em;
		height:25em;
	}

	#footer{
		font-size: 55%;
	}

	.btn{
		float: left;
	}


}

@media only screen and (max-width: 400px) {
	body{
		width: 100%;

	}

}

@media only screen and (max-width: 350px) {

}
